html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-gold {
  background: linear-gradient(73.85deg, #C8A251 24.88%, #EED477 196.59%);
}
