html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply text-brandblack bg-white;
}

.bg-primary {
  background: var(--bg-primary);
}

.prose :first-child,
.prose-sm :first-child {
  @apply mt-0;
}

.prose :last-child,
.prose-sm :last-child {
  @apply mb-0;
}
