html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply text-brandblack;
}

.bg-primary {
  background: var(--bg-primary);
}
